* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: sans-serif;
  font-size: 22px;
  color: #444;
  background-color: #fcfcfc;
  text-align: center;
}

.container-fliud .row {
  margin: 0;
}

.photo {
  width: 300px;
  margin-top: 60px;
}

.clip-shape {
  -webkit-clip-path: polygon(
    75% 0%,
    100% 50%,
    75% 100%,
    0% 100%,
    25% 50%,
    0% 0%
  );
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

h1 {
  margin: 40px 0 10px 0;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 1.1em;
  font-weight: 300;
  font-family: sans-serif;
  line-height: 1.6em;
}

a {
  text-decoration: none;
  word-wrap: break-word;
  color: black;
  padding-bottom: 1px;
  border-bottom: 1px solid #777;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: black;
  padding-bottom: 1px;
  border-bottom: 1px solid #777;
}

.contact {
  margin-top: 40px;
}

.contact a {
  font-size: 2em;
  margin: 0 30px;
  display: inline-block;
  border-bottom: none;
}
